body {
  margin:0;
  padding:0;
  min-width: 1200px;
  font-size: 14px;
  line-height: 21px;
  color: #000000;
  font-weight: bold;
  font-family: "PT Sans", "Arial",sans-serif;
  text-transform: uppercase;
  background-color: #f2f2f2;
}

.container {
  width: 1200px;
  margin: 0 auto;
  position: relative;
  background-color: #ffffff;
  box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.2);
}

.hidden {
  display: none;
}

.visible {
  display: block;
}

/* Убирает крестик с input при фокусе в IE*/
input::-ms-clear {
   display: none;
}

/*index*/
.row::after,
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.row-white {
  background-color: #ffffff;
  color: #000000;
}

.row-blue {
  background-color: #81b3d2;
  color: #ffffff;
}

.row-gray {
  background-color: #eeeeee;
  color: #000000;
}

.row-footer {
  background-color: #ffffff;
  opacity: 0.9;
}

.one-column,
.two-columns {
  float: left;
}

.one-column {
  width: 400px;
  text-align:center;
}

.two-columns {
  width: 800px;
}

h1 {
  font-size: 21px;
  line-height: 26px;
}

h2 {
  font-size: 21px;
  line-height: 21px;
}

a {
  color: #000000;
  text-decoration: none;
}

 a:hover {
  color: #81b3d2;
}

 a:active {
  color: #000000;
  opacity: 0.3;
}

.active a{
  color: #766357;
}

.main-header {
  position: relative;
  min-height: 56px;
  padding: 0 72px;
}

.logo{
  position: absolute;
  top:0;
  left: 50%;
  margin-left: -69px;
}

.logo a {
  opacity: 1;
}

.main-nav ul {
  margin: 0;
  padding: 0;
  font-size:0;
  list-style:none;
}

.main-nav li {
  display: inline-block;
  width: 240px;
  font-size:14px;
  line-height: 56px;
  vertical-align: middle;
}

.nav-info, .nav-media {
  text-align: left;
}

.nav-media {
  margin-right: 96px;
}

.nav-map, .nav-hotels {
  text-align: right;
}

.main-image {
  background: url("../img/index/mask-background.png") 0 100% no-repeat,
              url("../img/index/main-background.jpg") 0 0 no-repeat;
  min-height: 510px;
  margin-bottom: 58px;
}

.slogan {
  text-align: center;
  margin-bottom: 50px;
}

.slogan h1 {
  margin-bottom: 28px;
}

.slogan p {
  line-height: 26px;
  margin: 0;
}

.advantage-text {
  min-height: 255px;
}

.advantage-text h2 {
  margin-top: 48px;
  margin-bottom: 25px;
}

.advantage-text p {
  margin: 0;
  margin-bottom: 20px;
}

.advantage-photo img {
  display: block;
}

.service h2 {
  margin: 0;
  padding: 0;
  margin-top: 60px;
  margin-bottom: 25px;
  padding-top: 100px;
  position: relative;
}

.service-house h2::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  width: 75px;
  height: 72px;
  background-image: url("../img/index/house.png");
  background-repeat: no-repeat;
  margin-left: -37px;
}

.service-food h2::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  width: 74px;
  height: 70px;
  background-image: url("../img/index/burger.png");
  background-repeat: no-repeat;
  margin-left: -37px;
}

.service-souvenirs h2 {
  margin-top: 57px;
  padding-top: 103px;
}

.service-souvenirs h2::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  width: 64px;
  height: 76px;
  background-image: url("../img/index/gift.png");
  background-repeat: no-repeat;
  margin-left: -32px;
}

.service p {
  margin: 0;
  margin-bottom: 81px;
}

.booking-container {
  text-align: center;
}

.booking-container p.lead {
  margin-top: 60px;
  margin-bottom: 32px;
  font-size: 30px;
}

.booking-container p.booking-explanation {
  line-height: 24px;
  margin-bottom: 45px;
}

.booking-form-container {
    position: relative;
    width: 568px;
    margin: auto;
}

.booking-form-manager {
  display: block;
  height: 86px;
  background-color: #766357;
  color: #ffffff;
  text-align: center;
  font-size: 21px;
  vertical-align: middle;
  line-height: 86px;
}

.booking-form-manager:hover {
  background-color: #766357;
  color: #ffffff;
}

.booking-form-manager:active {
  background-color: #766357;
  color: #ffffff;
  opacity: 1;
}

.booking-form {
  position: absolute;
  z-index: 100;
  background-color: #ffffff;
  width: 100%;
  padding: 55px;
  box-sizing: border-box;
  text-align: left;
}

.booking-form input,
.form-number-input button {
  box-sizing: border-box;
  height: 38px;
}

.booking-form label {
  width: 112px;
  float: left;
  line-height: 38px;
  vertical-align: middle;
}

.booking-form .form-field {
  margin-bottom: 30px;
}

.departure-date-input,
.arrival-date-input {
  position: relative;
  width: 345px;
  float: left;
}

.departure-date-input input,
.arrival-date-input input {
  width: 345px;
  padding: 10px;
  border: none;
  font: inherit;
  text-transform: inherit;
  color: #000000;
  background-color: #f2f2f2;
  border: 2px solid transparent;
}

.icon-calendar {
  display: inline-block;
  position: absolute;
  right: 5px;
  top: 5px;
  width: 21px;
  height: 22px;
  background-image: url("../img/index/calendar.png");
  background-repeat: no-repeat;
  text-indent: -10000px;
  z-index: 10;
  cursor: pointer;
}

.icon-calendar:hover {
  background-image: url("../img/index/calendar-hover.png");
}

.icon-calendar:active {
  background-image: url("../img/index/calendar-active.png");
}

.booking-form input:hover {
  background-color: #ebebeb;
}

.booking-form input:focus {
  background-color: #ffffff;
  border: 2px solid #e5e5e5;
  outline: none;
}

.form-number-input input{
  width: 55px;
  padding: 5px;
  float: left;
  border: none;
  font: inherit;
  text-transform: inherit;
  text-align: center;
  color: #000000;
  background-color: #f2f2f2;
}

 .children-quantity label{
  width: 65px;
  margin-left: 51px;
}

.form-number-input button {
  width: 30px;
  padding: 5px;
  float: left;
  border: none;
  background-color: #f2f2f2;
  font-size: 20px;
  font-weight: bold;
  color: #a9a9a9;
  line-height: inherit;
  text-transform: inherit;
  vertical-align: middle;
  outline: none;
}

.form-number-input button:hover {
  color: #000000;
}

.form-number-input button:active {
  color: #81b3d2;
}

.form-number-input {
  float: left;
}

.form-human-quantity {
  margin-bottom: 53px;
  float: left;
}

.booking-form .form-submit {
  display: block;
  width: 100%;
  height: 58px;
  font: inherit;
  font-size: 21px;
  text-transform: inherit;
  line-height: 58px;
  color: #ffffff;
  background-color: #81b3d2;
  border: none;
  outline: none;
}

.booking-form .form-submit:hover {
  background-color: #669ec0;
}

.booking-form .form-submit:active {
  background-color: #5496bd;
  color: #88b6d1;
}

.map-container {
  width: 100%;
  height: 593px;
}

.main-footer {
  position: absolute;
  bottom:0;
  min-height: 84px;
  background-color: rgba(255, 255, 255, 0.9);
  line-height: 48px;
  vertical-align: middle;
}

.social-hashtag {
  font-size: 21px;
  text-align: center;
}

.main-footer .one-column {
  padding-top: 35px;
  padding-bottom: 35px;
}

.social-btn {
  display: inline-block;
  width: 46px;
  height: 48px;
  background-color: #81b3d2;
  background-repeat: no-repeat;
  background-position: center;
  text-indent: -10000px;
}

.social-btn:hover {
  background-color: #669ec0;
}

.social-btn-twitter {
  background-image: url("../img/twitter.png");
}

.social-btn-twitter:active {
  background-image: url("../img/twitter-active.png");
  background-color: #5496bd;
  opacity: 1;
}

.social-btn-facebook {
  background-image: url("../img/facebook.png");

}

.social-btn-facebook:active {
  background-image: url("../img/facebook-active.png");
  background-color: #5496bd;
  opacity: 1;
}

.social-btn-youtube {
  background-image: url("../img/youtube.png");
}

.social-btn-youtube:active {
  background-image: url("../img/youtube-active.png");
  background-color: #5496bd;
  opacity: 1;
}

.copyright p {
  display: inline-block;
  margin: 0;
  vertical-align: middle;
  font-weight: normal;
}

.copyright a {
  display: inline-block;
  vertical-align: middle;
  width: 113px;
  height: 39px;
  background-image: url("../img/htmlacademy.png");
  background-repeat: no-repeat;
  text-indent: -10000px;
  overflow: hidden;
}

.copyright a:hover {
  background-image: url("../img/htmlacademy-hover.png");
}

.copyright a:active {
  background-image: url("../img/htmlacademy-active.png");
  opacity: 1;
}





/* sedona-hotels.html */

.sedona-hotels main {
  background-repeat: no-repeat;
}

.filters-container {
  background-image: url("../img/catalog/filter-background.jpg");
  background-repeat: no-repeat;
  min-height: 218px;
  padding: 0 72px;
}

.filter-infrastructure,
.filter-hotel-type,
.filter-price {
  font-size: 14px;
  color: #ffffff;
  font-weight: normal;
}

.filters h3{
  margin:0;
  padding: 0;
  font-size: 16px;
  color: #ffffff;
  font-weight: bold;
  margin-top: 27px;
  margin-bottom: 23px;
}

.filter-infrastructure,
.filter-hotel-type {
  width: 255px;
  float: left;
}

.filter-infrastructure ul,
.filter-hotel-type ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.filters-container input[type="checkbox"] {
    display:none;
}

.filters-container input[type="checkbox"] + label {
  display: inline-block;
  font-size: 14px;
  color: #ffffff;
  font-weight: normal;
  cursor: pointer;
  margin-bottom: 22px;
  vertical-align: middle;
  line-height: 22px;
}

.filters-container input[type="checkbox"] + label::before {
  display: inline-block;
  content: "";
  height: 22px;
  width: 26px;
  vertical-align: middle;
  margin-right: 16px;
  background-image: url("../img/catalog/checkbox-unchecked.png");
  background-repeat: no-repeat;
}

input[type="checkbox"]:checked + label::before {
    background-image: url("../img/catalog/checkbox-checked.png");
}

input[type="checkbox"]:disabled + label::before {
    background-image: url("../img/catalog/unchecked-block.png");
}

input[type="checkbox"]:checked:disabled + label::before {
    background-image: url("../img/catalog/checked-block.png");
}

.filter-price {
  width: 320px;
  float: right;
}

.filter-price-title {
  margin-top: 27px;
  margin-bottom: 9px;
  font-size: 16px;
  font-weight: bold;
  line-height: 21px;
}

.price-control {
  position: relative;
  height: 33px;
  margin-bottom: 20px;
  font-size: 0;
  border: 2px solid #ffffff;
  border-radius: 2px;
}

.price-control::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 22px;
  background: #ffffff;
  transform: translate(-50%, -50%);
}

.price-control label {
  display: inline-block;
  font-size: 14px;
  line-height: 38px;
  vertical-align: top;
  cursor: pointer;
}

.price-control .min-price,
.price-control .max-price {
  width: 90px;
  padding-left: 65px;
}

.price-control input {
  width: 50px;
  margin: 0;
  color: inherit;
  font: inherit;
  background: none;
  border: none;
  line-height: 1;
}

.range-price {
  position: relative;
  margin-bottom: 32px;
}

.range-price .scale {
  height: 2px;
  background: rgba(255, 255, 255, 0.3);
}

.range-price .bar {
  width: 80%;
  height: 2px;
  background: #ffffff;
}

.range-toogle {
  position: absolute;
  top: -10px;
  width: 4px;
  height: 4px;
  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toogle:hover {
  background: #1c4f80;
}

.range-toogle-min {
  left: 0;
}

.range-toogle-max {
  left: 80%;
}

.btn-transparent {
  display: block;
  margin: 30px auto;
  padding: 6px 35px;
  font-size: 14px;
  font-family: inherit;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;
  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

.btn-transparent:hover {
  background-color: #ffffff;
  color: #000000;
}

.content-container .hotels-manager {
  font-size: 0;
  padding: 27px 72px 30px 72px;
}

.hotels-manager h1 {
  float: left;
  padding: 0;
  margin: 0;
  margin-right: 50px;
}

.sorter {
  float: left;
}

.sorter li {
  margin-right: 35px;
}

.sorter li:last-child {
  margin-right: 0;
}

.sorter a {
  color: #cccccc;
  border-bottom: 1px dotted #81b3d2;
}

.sorter .active a,
.sorter .active a:hover {
  color: #81b3d2;
  border: none;
}

.sorter a:hover {
  color: #81b3d2;
  border-bottom: 1px dotted #81b3d2;
}

.sorter a:active {
  color: #000000;
  border: none;
  opacity: 1;
}

.left-column {
  width: 135px;
  float: left;
}

.central-column {
  float: left;
}

.right-column {
  float: right;
}

.sorter h4 {
  padding: 0;
  margin: 0;
  margin-right: 40px;
}

.sorter h4,
.sorter ul,
.sorter li {
  display: inline-block;
  font-size: 12px;
  line-height: 26px;
}

.sorter ul {
  margin: 0;
  padding: 0;
}

.order {
  float: right;
  font-size: 12px;
}

.order-up {
  display: inline-block;
  text-indent: -10000px;
  overflow: hidden;
  background-image: url("../img/catalog/up.png");
  width: 11px;
  height: 10px;
  background-repeat: no-repeat;
  vertical-align: bottom;
  margin-right: 10px;
}

.order-down {
  display: inline-block;
  text-indent: -10000px;
  overflow: hidden;
  background-image: url("../img/catalog/down.png");
  width: 11px;
  height: 10px;
  background-repeat: no-repeat;
  vertical-align: bottom;
}

.order-down.active,
.order-down.active:hover {
  background-image: url("../img/catalog/down-active.png");
}

.order-up.active,
.order-up.active:hover {
  background-image: url("../img/catalog/up-active.png");
}

.order-up:hover {
  background-image: url("../img/catalog/up-hover.png");
}

.order-down:hover {
  background-image: url("../img/catalog/down-hover.png");
}

.order-up:active {
  background-image: url("../img/catalog/up-active.png");
  opacity: 1;
}

.order-down:active {
  background-image: url("../img/catalog/down-active.png");
  opacity: 1;
}

.hotel-item {
  padding: 30px 72px;
  border-top: 1px solid #f2f2f2;
}

.hotel-item:last-child {
  border-bottom: 1px solid #f2f2f2;
}

.hotel-item h2 {
  margin: 0;
  margin-bottom: 5px;
}

.hotel-info {
  margin-left: 30px;
}

.hotel-item .more,
.hotel-item .booking {
  display: inline-block;
  min-height: 27px;
  line-height: 27px;
  vertical-align: middle;
  padding: 0 17px;
}

.hotel-item .more {
  background-color: #81b3d2;
  color: #ffffff;
}

.hotel-item .more:hover {
  background-color: #669ec0;
  color: #ffffff;
}

.hotel-item .more:active {
  background-color: #5496bd;
  color: #94b9d2;
  opacity: 1;
}

.hotel-item .booking {
  background-color: #766357;
  color: #ffffff;
}

.hotel-item .booking:hover {
  background-color: #604e43;
  color: #ffffff;
}

.hotel-item .booking:active {
  background-color: #503e33;
  color: #928a85;
  opacity: 1;
}

.hotel-details {
  margin-bottom: 15px;
}

.hotel-type,
.hotel-price {
  display: inline-block;
  width: 115px;
}

.hotel-photo img {
  display: block;
}

.hotel-rating .stars {
  text-align: right;
  margin-bottom: 40px;
}

.hotel-rating .stars span {
  display: inline-block;
  width: 17px;
  height: 17px;
  background-image: url("../img/catalog/star.png");
  background-repeat: no-repeat;
  margin-right: 3px;
}

.hotel-rating .stars span:last-child {
  margin-right: 0;
}

.hotel-rating .rating {
  display: inline-block;
  background-color: #f2f2f2;
  min-height: 27px;
  line-height: 27px;
  padding: 0 13px;
}

.sedona-hotels .main-footer {
  position: static;
}
